*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'ds-digital';
}

.container{
    height:100%;
    width:100%;
    background: #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calc{
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
        border: 2px solid white;

}

.calc form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    color: #fff;
    margin: 10px;
    text-align: center;
    cursor:  pointer;
    background: transparent;
}

form .display input{
    text-align: right;
    box-shadow: none;
    flex: 1;
    font-size: 45px;
    border: 2px white solid;
    width: 300px;
    padding: 8px;
}
   
form  input.equal{
    width: 145px;
    font-size: 30px;
}